{% extends 'base.html.twig' %}

{% block title %}GOES - {{ title }}{% endblock %}
{% block content %}

<h1>DAT examiner</h1>

    <p>This allow one to upload any valid RCT2 .DAT file and inspect its header.</p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="dat" accept="*.dat">
        <input type="submit" class="btn btn-primary" value="Examine">
    </form>

    {% if (error) %}
        <div class="alert alert-warning">{{ error|raw }}</div>
    {% endif %}
    {% if (result) %}
        <table>
            <tr><td>Name: </td><td>{{ name }}</td></tr>
            <tr><td>Flags: </td><td>{{ flags }}</td></tr>
            <tr><td>Checksum: </td><td>{{ checksum }}</td></tr>
            <tr><th colspan="2">Formatted</th></tr>
            <tr><td>originalId</td><td><pre>"{{ originalId }}"</pre></td></tr>
            <tr><td>Scenery group entry</td><td><pre>"{{ sceneryGroupEntry }}"</pre></td></tr>
            <tr><th colspan="2">Data</th></tr>
            <tr><td>Type</td><td>{{ objectType }}</td></tr>

            {% if (objectType != 'Scenario Text') %}
                <tr><td>Short description</td><td>{{ shortDescription }}</td></tr>
            {% endif %}
        </table>

        {% if (image) %}
            <h2>Preview</h2>
            <div>
                <img src="data:image/webp;base64,{{ image|raw }}" alt="Preview image of this object" width="112" height="112">
            </div>
        {% endif %}

        {% if (objectType == 'Scenery group') %}
            <h2>Referenced objects</h2>
            <div>
                <table class="table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>originalId</th>
                        <th>Scenery group entry</th>
                    </tr>
                    </thead>
                    {% for refHeader in referencedObjects %}
                        <tr>
                            <td><pre>{{ refHeader.getAsOriginalId() }}</pre></td>
                            <td><pre>{{ refHeader.getAsSceneryGroupListEntry() }}</pre></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% elseif (objectType == 'Scenario Text') %}
            <h2>Scenario name</h2>
            <table>
                <thead>
                <tr>
                    <th class="language-code">Code</th>
                    <th>Contents</th>
                </tr>
                </thead>
                <tbody>
                {% for string in stringTables.scenario_name.strings %}
                    <tr>
                        <td>{{ string.language.getIsoCode() }}</td>
                        <td>{{ string.toUtf8() }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

            <h2>Park name</h2>
            <table>
                <thead>
                <tr>
                    <th class="language-code">Code</th>
                    <th>Contents</th>
                </tr>
                </thead>
                <tbody>
                {% for string in stringTables.park_name.strings %}
                    <tr>
                        <td>{{ string.language.getIsoCode() }}</td>
                        <td>{{ string.toUtf8() }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

            <h2>Details</h2>
            <table>
                <thead>
                <tr>
                    <th class="language-code">Code</th>
                    <th>Contents</th>
                </tr>
                </thead>
                <tbody>
                {% for string in stringTables.description.strings %}
                    <tr>
                        <td>{{ string.language.getIsoCode() }}</td>
                        <td>{{ string.toUtf8() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    {% endif %}

{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="{{ asset('css/dat-examiner.css') }}"/>
{% endblock extraStyles %}