{% extends 'base.html.twig' %}
{% set extraScripts = 'js/scenery-group.js' %}

{% block title %}GOES - Scenery Group Creator{% endblock %}
{% block content %}

    <h1>Scenery groups</h1>

    <form id="scenery-group-form" action="#" method="post" enctype="multipart/form-data">
        <h2>Metadata</h2>
        <div class="mb-3">
            <label for="user_identifier" class="form-label">Your identifier (required)</label>
            <input type="text" pattern="[a-z0-9_]+" class="form-control" id="user_identifier" name="user_identifier" aria-describedby="user_identifier_help" required>
            <div id="user_identifier_help" class="form-text">Usually similar to your user handle. This should be the same for all of your objects. a-z, 0-9 and underscores only. E.g.: <i>manticore_007</i></div>
        </div>
        <div class="mb-3">
            <label for="object_identifier" class="form-label">Object identifier (required)</label>
            <input type="text" pattern="[a-z0-9_]+" class="form-control" id="object_identifier" name="object_identifier" aria-describedby="object_identifier_help" required>
            <div id="object_identifier_help" class="form-text">A short, unique name for your object. a-z, 0-9 and underscores only. E.g.: <i>log_cabin_theming</i></div>
        </div>
        <div class="mb-3">
            <label for="creators_names" class="form-label">Creator’s name(s) (required)</label>
            <input type="text"  class="form-control" id="creators_names" name="creators_names" aria-describedby="creators_names_help" required>
            <div id="creators_names_help" class="form-text">The names of the people who created this object, separated by commas. E.g.: <i>Arjan van Dijk</i></div>
        </div>
        <div class="mb-3">
            <label for="name_en-GB" class="form-label">Scenery group name (UK English, required)</label>
            <input type="text" class="form-control" id="name_en-GB" name="name_en-GB" aria-describedby="name_help" required>
            <div id="name_help" class="form-text">The name of the scenery group in other languages, as it appears in the Object Selection and the Theming window. E.g.: <i>Log Cabin Theming</i></div>
        </div>

        <div class="mb-3">
            <label for="preview_image" class="form-label">Preview image</label>
            <input type="file" class="form-control" id="preview_image" accept="image/png" name="preview_image" aria-describedby="preview_image_help" required>
            <div id="preview_image_help" class="form-text">An image for the tab, PNG, 29 × 25. Preferably already in RCT palette.</div>
        </div>
        <h2>Entries</h2>

        <h3>Add by upload</h3>
        <div class="mb-3">
            <input type="file" class="form-control" id="entries" accept=".dat,.parkobj,.json" name="entries" aria-describedby="entries_help" multiple>
            <div id="entries_help" class="form-text">Select objects to include with this scenery group. Then click Add to add them to the selection. You can do this multiple times if needed.</div>
            <button type="button" id="add-by-upload" class="btn btn-info">Add</button>
        </div>

        <h3>Reorder</h3>
        <div class="mb-3" id="entries-list">

        </div>

        <h2>Advanced options</h2>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showAdvanced">
                <label class="form-check-label" for="showAdvanced">
                    Show advanced options
                </label>
                <div id="showAdvanced_help" class="form-text">These allow for adding translations and specifying a version number</div>

            </div>
        </div>

        <div id="advanced-options" class="d-none">
            <div class="mb-3">
                <label for="version" class="form-label">Version</label>
                <input type="text" pattern="[0-9]+(\.[0-9]+){1,2}" class="form-control" id="version" name="version" aria-describedby="version_help" value="1.0">
                <div id="version_help" class="form-text">A version number. 0-9 and dots only. May be left blank to default to 1.0. E.g.: <i>1.0</i></div>
            </div>

            <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <input type="text" pattern="[0-9]+" class="form-control" id="priority" name="priority" aria-describedby="priority_help" value="">
                <div id="priority_help" class="form-text">Used to control the place within the Scenery window. Leave blank unless you know what this does.</div>
            </div>

            <h2>Scenery group name (in other languages)</h2>
            <div id="name_extra_help" class="form-text">
                The name of the scenery group in other languages, as it appears in the Object Selection and the Theming window.<br>
                <b>Only fill in languages you know, leave the rest blank.</b><br>
                E.g.: <i>Blokhutthema</i><br>
            </div>

            {% for code, description in extraLanguages %}
                <div class="mb-3">
                    <label for="name_{{ code }}" class="form-label">{{ description }}</label>
                    <input type="text" class="form-control" id="name_{{ code }}" name="name_{{ code }}" aria-describedby="name_extra_help">
                </div>
            {% endfor %}
        </div>

        <h2>All done?</h2>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>

{% endblock %}

{% block extraStyles %}
    <link rel="stylesheet" href="{{ asset('css/scenery-group.css') }}"/>
{% endblock extraStyles %}

{% block extraScripts %}
    <script type="text/javascript" src="{{ asset('js/scenery-group.js') }}"></script>
{% endblock %}
